[Desktop Entry]
Version=1.0
Type=Application
Name=Oxycash
Comment=Personal finance manager
Exec=Oxycash
Icon=Oxycash_icon
Terminal=false
Categories=Office;Finance;
StartupWMClass=Oxycash
